{% extends "navigation.html" %}

{% load static %}

{% block title %}Ask reset | Bubble{% endblock %}
{% block container %}

<div id="login-container">
    <div class="reset">
        <h1 class="mb-4 font-bold">Modifier le mot de passe</h1>
        <form action="/user/save-password" method="post">
           
            <input type="hidden" id="token" name="token" value="<%= token %>">
            <input type="hidden" id="userId" name="userId" value="<%= userId %>">
            <label for="password">Nouveau mot de passe:</label>
            <input type="password" id="password" name="password" required>
    
            <label for="confirmPassword">Confirmer le mot de passe:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
    
            <button type="submit">Mettre à jour</button>
        </form>
    </div>
</div>
{% endblock %}
