{% extends "base.html" %}

{% load static %}

{% block title %}Login | Bubble{% endblock %}
{% block main %}
  <nav class="fixed top-0 z-50 w-full bg-zinc-900 border-b border-gray-700 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
        <a href="/" class="flex ms-2 md:me-24">
            <span class="self-center text-xl text-white sm:text-2xl whitespace-nowrap dark:text-white">Bubble My Tea</span>
        </a>
        </div>
    </div>
    </div>
  </nav>
    <div id="login-container">
      <h1 class="reset font-semibold text-3xl">Connexion</h1>
      <div id="login-container" class=" w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-6"action="" method="post">
          {% csrf_token %}
          {% if messages %}
          {% for message in messages %}
          <div id="successMessage" class="p-4 mb-4 text-sm text-green-800 bg-red-50 rounded-lg dark:bg-gray-800 dark:text-green-400" role="alert">
              {{ message }}
          </div>
          {% endfor %}
          {% endif %}
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre adresse email</label>
                <input type="email" id="email"
                name="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
            </div>
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre mot de passe</label>
                <input type="password" id="password"
                name="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
            </div>
            
            <button type="submit" class=" border border-gray-900">Connexion</button>
          
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300 flex justify-between">
              <div>
                  Vous n'avez pas de compte ? <a href="/register" class="text-sm text-blue-900 hover:underline dark:text-blue-500"">S'inscrire</a>
              </div>
             
          </div>
          
        </form>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}" ></script>
{% endblock %}