{% extends "navigation.html" %}

{% load static %}

{% block title %} shopping cart  | Bubble{% endblock %}
{% block container %}
   
  
    <div id="product-container">
    <h1 class="reset font-semibold text-2xl mb-3">Panier</h1>
    <div class="relative overflow-x-auto">
        {% if order_items %}
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
                <tr>
                    <th scope="col" class="px-6 py-3">Article</th>
                    <th scope="col" class="px-6 py-3">Quantité</th>
                    <th scope="col" class="px-6 py-3">Sucre</th>
                    <th scope="col" class="px-6 py-3">Perles</th>
                    <th scope="col" class="px-6 py-3">Prix unitaire</th>
                    <th scope="col" class="px-6 py-3">Prix total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{ item.product_name }}</td>
                    <td class="px-6 py-4">{{ item.quantity }}</td>
                    <td class="px-6 py-4">{{ item.sugar_level }}</td>
                    <td class="px-6 py-4">{{ item.toppings }}</td>
                    <td class="px-6 py-4">{{ item.unit_price }} €</td>
                    <td class="px-6 py-4">{{ item.total_price }} €</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex items-center justify-start rtl:justify-end p-4">
            <span class="text-lg font-bold">Total : {{ total_price }} €</span>
        </div>
        <button type="submit" class=" border border-gray-900">Payer</button>
        {% else %}
        <p>Votre panier est vide.</p>
        {% endif %}
    </div>
    
</div>
{% endblock %}
