{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion | Bubble </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
  <nav class="fixed top-0  z-50 w-full bg-zinc-900 border-b border-gray-700 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
        <a href="/" class="flex ms-2 md:me-24">
            <span class="self-center text-xl text-white sm:text-2xl whitespace-nowrap dark:text-white">Bubble My Tea</span>
            
        </a>
      </div>
     
        <div class="flex items-center justify-start rtl:justify-end">
          <a href="{% url 'product_add' %}" class="flex mr-1 ">
              <span class="  text-white mr-3 ">Ajouter un produit</span>
          </a>
          <form action="{% url 'logout' %}" method="post" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-800 dark:hover:bg-gray-700 group">
              {% csrf_token %}
              <a href="javascript:;" onclick="this.closest('form').submit()" class="flex items-center justify-start w-full text-gray-900 dark:text-white">
                  <svg class="w-[38px] h-[38px] text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                    </svg>
                  <span class=" ml-2 whitespace-nowrap text-gray-400 group-hover:text-white">Se déconnecter</span>
              </a>
          </form>
          
      </div>
        
    </div>
    </div>
  </nav>
  <div  id="product-container">
   <ul role="list" class="divide-y divide-gray-100">
          {% for product in products %}
          <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
              <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{% static 'img/' %}{{ product.picture }}" alt="{{ product.name }}">
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{ product.name }}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ product.description }}</p>
              </div>
            </div>
            <div class=" shrink-0 sm:flex sm:flex-col sm:items-end">
              <form action="{% url 'product_update' product.id %}" method="get">
                {% csrf_token %}
              <button class="lex w-full" type="submit" >Mettre à jour</button>
            </form>
            <form action="{% url 'product_delete' product.id %}" method="post">
              {% csrf_token %}
              <button  class="lex w-full" type="submit" >Supprimer</button>
            </form>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
