{% extends "base_dashboard.html" %}

{% load static %}

{% block title %}Product list | Bubble{% endblock %}
{% block content %}

  <div  id="login-container">
    <a href="{% url 'product_add' %}" class=" mr-1 ">
      <button type="button" class="border border-black mb-3">Ajouter un produit</button>
    </a>
   <ul role="list" class="divide-y divide-gray-100">
          {% for product in products %}
          <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">
              <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="{% static 'img/' %}{{ product.picture }}" alt="{{ product.name }}">
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{ product.name }}</p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ product.description }}</p>
              </div>
            </div>
            <div class=" shrink-0 sm:flex sm:flex-col sm:items-end">
              <form action="{% url 'product_show' product.id %}" method="get">
                {% csrf_token %}
              <button class="lex w-full" type="submit" >Détails</button>
            </form>
            <form action="{% url 'product_update' product.id %}" method="get">
                {% csrf_token %}
              <button class="lex w-full" type="submit" >Mettre à jour</button>
            </form>
            <form action="{% url 'product_delete' product.id %}" method="post">
              {% csrf_token %}
              <button  class="lex w-full" type="submit" >Supprimer</button>
            </form>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}