{% extends "navigation.html" %}

{% load static %}

{% block title %}Product shop show | Bubble{% endblock %}
{% block container %}



<div id="login-container">

    <div class="w-full lg:w-1 p-4 bg-white rounded-lg  sm:p-6 md:p-5">
        <h1 class="reset font-semibold text-xl">{{ product.name }}</h1>
    </div>


    <div  class="flex flex-col lg:flex-row ">
        <div class="w-full lg:w-1/2 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="mt-4">
                <img class=" flex-none rounded-lg bg-gray-50" src="{% static 'img/' %}{{ product.picture }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="w-full h-full lg:w-1/2 p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col space-y-4">
                <p class="font-bold"><span class="font-semibold">Nom:</span> {{ product.name }}</p>
                <p><span class="font-semibold">Description:</span> {{ product.description }}</p>
                <p class="font-bold"><span class="font-semibold">Prix : </span> {{ product.price }} €</p>
                <form action="{% url 'order_items' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="quantity" value="1">
                    <button class="flex w-full" type="submit"><span class="font-bold">Ajouter au panier</span></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}