{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion | Bubble </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>
  <nav class="fixed top-0  z-50 w-full bg-zinc-900 border-b border-gray-700 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
        <a href="/" class="flex ms-2 md:me-24">
            <span class="self-center text-xl text-white sm:text-2xl whitespace-nowrap dark:text-white">Bubble My Tea</span>
            
        </a>
      </div>
     
        <div class="flex items-center justify-start rtl:justify-end">

        <a href="{% url 'dashboard' %}" class="flex mr-1 ">
          <span class="  text-white mr-3 ">Dashboard</span>
        </a> 

        <a href="{% url 'order_items' %}" class="flex mr-1 ">
            <span class="  text-white mr-3 ">Panier</span>
        </a>  
          
        <form action="{% url 'logout' %}" method="post" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-800 dark:hover:bg-gray-700 group">
            {% csrf_token %}
            <a href="javascript:;" onclick="this.closest('form').submit()" class="flex items-center justify-start w-full text-gray-900 dark:text-white">
                <svg class="w-[38px] h-[38px] text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                </svg>
                <span class="ml-2 whitespace-nowrap text-gray-400 group-hover:text-white">Se déconnecter</span>
            </a>
        </form>
        
      </div>    
    </div>
    </div>
  </nav>

  <div id="product-shop-container">
    <div class="bg-white">
            
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">SHOP PAGE</h2>
            <div id="successMessageShop" class="hidden p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
              Produit ajouter au panier avec succes
            </div>
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
              {% for product in products %}
              <div class="group relative mr-3 ml-3">
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80 relative">
                      <img src="{% static 'img/' %}{{ product.picture }}" alt="{{ product.name }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
                  <div class="mt-4 flex justify-between">
                      <div>
                          <h3 class="text-sm text-gray-700">
                              <a href="{% url 'product_shop_show' product.id %}">
                                  <span class="font-medium">{{ product.name }}</span>
                              </a>
                          </h3>
                      </div>
                      <p class="text-sm font-medium text-gray-900">{{ product.price }} €</p>
                  </div>
                  <div class="mt-4 flex items-center">
                      <button onclick="changeQuantity('dec', '{{ product.id }}')">-</button>
                      <input type="text" id="quantity_{{ product.id }}" value="1" class="mx-2 border text-center w-8" readonly>
                      <button onclick="changeQuantity('inc', '{{ product.id }}')">+</button>
                      <button class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="addToCart('{{ product.id }}', document.getElementById('quantity_{{ product.id }}').value)">
                        <svg class="w-[37px] h-[37px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M12.268 6A2 2 0 0 0 14 9h1v1a2 2 0 0 0 3.04 1.708l-.311 1.496a1 1 0 0 1-.979.796H8.605l.208 1H16a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L4.686 5H4a1 1 0 0 1 0-2h1.5a1 1 0 0 1 .979.796L6.939 6h5.329Z"/>
                          <path d="M18 4a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0V8h2a1 1 0 1 0 0-2h-2V4Z"/>
                        </svg>
                        
                      </button>
                  </div>
              </div>
              {% endfor %}
              
            </div>
        </div>
    </div>
</div>
  <script src="{% static 'js/script.js' %}" ></script>
  
  </body>
</html>
