<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Add</title>
</head>
<body>
    <h1>Product Add</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price"><br>
        <label for="picture">Picture:</label><br>
        <input type="text" id="picture" name="picture"><br>
        <input type="file" name="picture" accept="image/*">
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>