{% extends "navigation.html" %}

{% load static %}

{% block title %}Product shop | Bubble{% endblock %}
{% block container %}
 
  <div id="product-shop-container">
    <div class="bg-white">
            
        <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">SHOP PAGE</h2>
            <div id="successMessageShop" class="hidden p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
              Produit ajouter au panier avec succes
            </div>
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
              {% for product in products %}
              <div class="group relative mr-3 ml-3">
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80 relative">
                      <img src="{% static 'img/' %}{{ product.picture }}" alt="{{ product.name }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
                  <div class="mt-4 flex justify-between">
                      <div>
                          <h3 class="text-sm text-gray-700">
                              <a href="{% url 'product_shop_show' product.id %}">
                                  <span class="font-medium">{{ product.name }}</span>
                              </a>
                          </h3>
                      </div>
                      <p class="text-sm font-medium text-gray-900">{{ product.price }} €</p>
                  </div>
                  <div class="mt-4 flex items-center">
                    <div>
                      <label for="sugar_level_{{ product.id }}">Sucre:</label>
                      <select name="sugar_level" id="sugar_level_{{ product.id }}">
                        <option value="Low">Low</option>
                        <option value="Normal" selected>Normal</option>
                        <option value="High">High</option>
                      </select>
                    </div>
                  
                    <div>
                      <label for="toppings_{{ product.id }}">Perles:</label>
                      <select name="toppings" id="toppings_{{ product.id }}">
                        <option value="None">Sans topping</option>
                        <option value="Boba">Boba (+0.50€)</option>
                        <option value="Popping Boba">Popping Boba (+0.50€)</option>
                        <option value="Jelly">Jelly (+0.50€)</option>
                      </select>
                    </div>
                 
                  </div>
                  
                
                  <div class="mt-4 flex items-center">
                      <button onclick="changeQuantity('dec', '{{ product.id }}')">-</button>
                      <input type="text" id="quantity_{{ product.id }}" value="1" class="mx-2 border text-center w-8" readonly>
                      <button onclick="changeQuantity('inc', '{{ product.id }}')">+</button>
                      <button class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"onclick="addToCart('{{ product.id }}', document.getElementById('quantity_{{ product.id }}').value, 
                      document.getElementById('sugar_level_{{ product.id }}').value,
                      document.getElementById('toppings_{{ product.id }}').value)">
                        <svg class="w-[37px] h-[37px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M12.268 6A2 2 0 0 0 14 9h1v1a2 2 0 0 0 3.04 1.708l-.311 1.496a1 1 0 0 1-.979.796H8.605l.208 1H16a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L4.686 5H4a1 1 0 0 1 0-2h1.5a1 1 0 0 1 .979.796L6.939 6h5.329Z"/>
                          <path d="M18 4a1 1 0 1 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0V8h2a1 1 0 1 0 0-2h-2V4Z"/>
                        </svg>
                        
                      </button>
                  </div>
                  
              </div>
              {% endfor %}
              
            </div>
        </div>
    </div>
</div>
  <script src="{% static 'js/script.js' %}" ></script>
{% endblock %}
